-- Actualizar vista de timeline para incluir actualizaciones de campañas
CREATE OR REPLACE VIEW vw_bank_activity_timeline AS
SELECT 
    b.id as banco_id,
    b.nombre as nombre_banco,
    'Creación de banco' as tipo_actividad,
    b.created_at as fecha_actividad,
    'INFO' as categoria
FROM banco b

UNION ALL

SELECT 
    s.banco_id as banco_id,
    b.nombre as nombre_banco,
    CASE 
        WHEN s.tipo_sangre IS NOT NULL THEN CONCAT('Stock de sangre actualizado: ', s.tipo_sangre)
        WHEN s.tipo_leche IS NOT NULL THEN CONCAT('Stock de leche actualizado: ', s.tipo_leche)
    END as tipo_actividad,
    s.updated_at as fecha_actividad,
    CASE WHEN s.situacion = 'critico' THEN 'ALERT' ELSE 'INFO' END as categoria
FROM stock s
INNER JOIN banco b ON s.banco_id = b.id

UNION ALL

SELECT 
    c.banco_id as banco_id,
    b.nombre as nombre_banco,
    CONCAT('Campaña creada: ', c.nombre) as tipo_actividad,
    c.created_at as fecha_actividad,
    'INFO' as categoria
FROM campana c
INNER JOIN banco b ON c.banco_id = b.id

UNION ALL

SELECT 
    c.banco_id as banco_id,
    b.nombre as nombre_banco,
    CONCAT('Campaña actualizada: ', c.nombre) as tipo_actividad,
    c.updated_at as fecha_actividad,
    'INFO' as categoria
FROM campana c
INNER JOIN banco b ON c.banco_id = b.id
WHERE c.updated_at != c.created_at

ORDER BY fecha_actividad DESC;
